.account-customer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.account-customer-account-customer {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.account-customer-ellipse1 {
  top: 192px;
  left: 530px;
  width: 300px;
  height: 300px;
  position: absolute;
}
.account-customer-text {
  top: 512px;
  left: 551px;
  color: rgba(0, 0, 0, 1);
  width: 257px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-rectangle63 {
  top: 578px;
  left: 333px;
  width: 695px;
  height: 41px;
  position: absolute;
  border-radius: 6px;
}
.account-customer-rectangle64 {
  top: 660px;
  left: 333px;
  width: 695px;
  height: 41px;
  position: absolute;
  border-radius: 6px;
}
.account-customer-rectangle65 {
  top: 742px;
  left: 333px;
  width: 695px;
  height: 41px;
  position: absolute;
  border-radius: 6px;
}
.account-customer-rectangle66 {
  top: 824px;
  left: 333px;
  width: 695px;
  height: 41px;
  position: absolute;
  border-radius: 6px;
}
.account-customer-ok {
  top: 915px;
  left: 265px;
  width: 399px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(237, 113, 22, 1);
}
.account-customer-text02 {
  top: 17px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-ok1 {
  top: 915px;
  left: 696px;
  width: 399px;
  height: 67px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(237, 113, 22, 1);
}
.account-customer-text04 {
  top: 17px;
  left: 151px;
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-group152 {
  top: -11px;
  left: -47px;
  width: 1455px;
  height: 203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-customer-group148 {
  top: 70px;
  left: 1126px;
  width: 329px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.account-customer-rectangle935 {
  top: 9px;
  left: 0px;
  width: 329px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
}
.account-customer-ellipse21 {
  top: 0px;
  left: 168px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.account-customer-ellipse22 {
  top: 9px;
  left: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.account-customer-vector {
  top: 22px;
  left: 187px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.account-customer-vector1 {
  top: 27px;
  left: 279px;
  width: 19px;
  height: 18px;
  position: absolute;
}
.account-customer-vector2 {
  top: 27px;
  left: 15px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.account-customer-rectangle934 {
  top: 76px;
  left: 66px;
  width: 759px;
  height: 50px;
  position: absolute;
  border-color: rgba(237, 113, 22, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}
.account-customer-logo {
  left: 56px;
  width: 238px;
  bottom: -3px;
  height: 190px;
  position: absolute;
}
.account-customer-text06 {
  top: 90px;
  left: 247px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-text08 {
  top: 90px;
  left: 383px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-text10 {
  top: 90px;
  left: 519px;
  color: rgba(0, 0, 0, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-text12 {
  top: 90px;
  left: 690px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.account-customer-vector3 {
  top: 93px;
  left: 1220px;
  width: 21px;
  height: 20px;
  position: absolute;
}
